.all-products {
    align-items: center;
    background-color: var(--darkerbg);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 130px 0 64px 0;
    width: 100%;
}

.all-products .top-container {
    margin-bottom: 1rem;
    width: 78%;
}

.all-products .product {
    margin: 0;
}

.all-products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 78%;
}

.all-products__list li {
    margin: 0 2.3% 3rem 2.3%;
}

.all-products__button {
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 1105px) {
    .all-products__list {
        justify-content: space-between;
        gap: 1rem;
    }

    .all-products__list li {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .all-products {
        padding: 2rem;
    }

    .all-products__list {
        justify-content: space-evenly;
    }

    .all-products .top-container,
    .all-products__list {
        width: 100%;
    }
}

@media screen and (max-width: 407px) {
    .all-products .top-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .all-products__list {
        gap: 0.5rem;
    }

    .all-products .product__img {
        width: 140px;
    }
}
