.footer__content {
    align-items: flex-start;
    background-color: var(--footerbg);
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding: 4rem;
    width: 99.165vw;
}

.footer__content--list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__content--link {
    color: var(--black);
    text-decoration: none;
}

.contact {
    display: flex;
    flex-direction: column;
    width: 434px;
}

.contact__title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.contact__name {
    border: none;
    border-radius: 4px;
    padding: 35px 0 5px 12px;
}

.contact__name::placeholder {
    color: var(--gray);
    font-family: var(--main-font);
    font-size: 0.75rem;
    left: 12px;
    position: absolute;
    top: 8px;
}

.contact__msg {
    border: none;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
    height: 82px;
    margin: 1rem 0;
    padding: 1rem;
}

.contact__msg::placeholder {
    color: var(--gray);
    font-family: var(--main-font);
    font-size: 1rem;
}

.contact__submit {
    background-color: var(--primary-color);
    box-sizing: border-box;
    color: var(--white);
    padding: 1rem;
    width: 165px;
}

.footer__copyright {
    padding: 2rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .footer__content {
        padding: 2rem;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 364px;
    }

    .footer__logo {
        margin-right: 5rem;
        margin-bottom: 1rem;
    }
}
