.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    width: 78%;
}

.header__logo {
    margin: 0 2rem 0 0;
}

.header__search {
    background-color: var(--light-gray);
    border: none;
    border-radius: 20px;
    box-sizing: border-box;
    height: 40px;
    margin-right: auto;
    padding: 0.5rem 1rem;
    width: 393px;
}

.header__search::placeholder {
    background: url(../img/vector.svg);
    background-position: right;
    background-repeat: no-repeat;
    color: var(--gray);
    font-size: 0.875rem;
}

.header__login-btn {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    box-sizing: border-box;
    color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    width: 182px;
}

.header__login-btn:hover {
    background-color: var(--analogous);
}

span.search {
    display: none;
}

@media screen and (max-width: 768px) {
    .header {
        width: 92.7%;
    }

    .header__link {
        display: inline;
    }

    .header__logo {
        margin-right: 0.5rem;
        width: 100px;
    }

    .header__search {
        width: 272px;
    }

    .header__login-btn {
        width: 166px;
    }
}

@media screen and (max-width: 400px) {
    .header__logo {
        margin: 0;
    }

    .header__search {
        display: none;
    }

    .header__login-btn {
        height: 40px;
        line-height: 40px;
        padding: 0;
        width: 133px;
    }

    span.search {
        background-image: url(../img/vector.svg);
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: 17px;
        width: 17px;
    }
}
