.products {
    margin-bottom: 3rem;
    padding: 0 4rem;
}

.top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
}

.products__title {
    color: var(--black);
    display: inline;
    font-size: 2rem;
    font-weight: 700;
}

.products__button {
    color: var(--primary-color);
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
}

.products__button::after {
    content: "";
    background: url(../img/right_arrow.svg);
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.products__list {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1.45vw;
}

.products__item:last-child .product {
    margin-right: 0;
}

.product__name {
    color: var(--black);
    font-size: 0.875rem;
    font-weight: 500;
    margin-top: 0.5rem;
}

.product__price {
    font-weight: 700;
    margin: 0.5rem;
}

.product__link {
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .products {
        padding: 0 2rem;
    }

    .products__title {
        font-size: 1.375rem;
    }

    .products__list .products__item:nth-child(n + 5) {
        display: none;
    }

    .product__img {
        width: 164px;
    }

    .products__item:nth-child(4) .product {
        margin-right: 0;
    }
}

@media screen and (max-width: 572px) {
    .products__item {
        margin: auto;
    }
}

@media screen and (max-width: 360px) {
    .products {
        padding: 0 1rem;
    }

    .products__list {
        align-items: center;
    }

    .product__img {
        width: 156px;
    }

    .products__item:nth-child(2n) .product {
        margin-right: 0;
    }
}
