.product-showcase {
    background-color: var(--darkerbg);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    margin-bottom: 4rem;
    width: 100%;
    align-items: center;
}

.showcase__container {
    margin: auto 0;
    padding: 0 2rem;
    width: 560px;
}

.showcase__img {
    height: 403px;
    width: 560px;
}

.showcase__name {
    font-size: 3.25rem;
    font-weight: 500;
}

.showcase__price {
    font-weight: 700;
    margin: 1rem 0;
}

@media screen and (max-width: 768px) {
    .product-showcase {
        padding: 2rem;
        margin-bottom: 1.5rem;
    }

    .showcase__container {
        padding: 0 0 0 1rem;
    }

    .showcase__img {
        height: fit-content;
        width: 254px;
    }

    .showcase__name {
        font-size: 1.375rem;
    }
}
